#main{
    background-color:#1c2f50;
    color: white;
    padding: 0%;
}

h1{
    background-color: #1a4b9b;
    margin: #1a4b9b;
    padding-bottom: 5%;
    padding-left: 40%;
    padding-top: 10px;
    margin: 0;
    margin-right: 3%;
    
    
}

#productosTop, #productosMiddle1, #productoMiddle2, #productoMiddle3, #productoMiddle4, #productosBottom{
    font-size: 18px;
    font-weight: bold;
    /*margin-bottom: 5%;*/
    margin-right: 3%;
    padding-bottom: 5%;
    padding-left: 20%;
    background-color: #1a4b9b;
    margin: #1a4b9b;
}

#codigo, #nombre, #dosis {
    min-width: 60px;
    /*margin-bottom: 5%;*/ 
}

#descripcion, #indicaciones, #contraIndicaciones{
    min-height: 50px;
    min-width: 40px;
    height: 50%;
}

#product_categ, product_unidTec, #product_species{
    margin-top: 8px;
    margin-bottom: 10px;
}

#btnSubir{
    font-weight: bold;
    font-size: 14px;
}

#imagenProducto{
    font-size: 18px;
}


label{
    margin: 0;
    padding: 2%;
}

#codigo,#nombre,#dosis,#descripcion,#indicaciones,#contraIndicaciones,#product_categ,#typeuse,#producto_unidTec,#producto_species,#product_price{
    margin: 0%;
}
